# 0.0 Imports

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
from IPython.core.display import HTML

## 0.1 Helper Functions

In [3]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline

    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()

In [7]:
jupyter_settings()

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

## 0.2 Loading Data

In [8]:
# Loading dataset
df_users = pd.read_csv('../data/Users.csv', low_memory=False)
df_ratings = pd.read_csv('../data/Ratings.csv', low_memory=False)
df_books = pd.read_csv('../data/Books.csv', low_memory=False)

In [9]:
df_users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [10]:
df_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [11]:
df_books.head()

         ISBN                                         Book-Title           Book-Author Year-Of-Publication                   Publisher                                        Image-URL-S                                        Image-URL-M                                        Image-URL-L
0  0195153448                                Classical Mythology    Mark P. O. Morford                2002     Oxford University Press  http://images.amazon.com/images/P/0195153448.0...  http://images.amazon.com/images/P/0195153448.0...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018                                       Clara Callan  Richard Bruce Wright                2001       HarperFlamingo Canada  http://images.amazon.com/images/P/0002005018.0...  http://images.amazon.com/images/P/0002005018.0...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129                               Decision in Normandy          Carlo D'Este                1991             HarperPerennial  http://images.amazon.com/images/P/0060973129.0...  http://images.amazon.com/images/P/0060973129.0...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  Flu: The Story of the Great Influenza Pandemic...      Gina Bari Kolata                1999        Farrar Straus Giroux  http://images.amazon.com/images/P/0374157065.0...  http://images.amazon.com/images/P/0374157065.0...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218                             The Mummies of Urumchi       E. J. W. Barber                1999  W. W. Norton &amp; Company  http://images.amazon.com/images/P/0393045218.0...  http://images.amazon.com/images/P/0393045218.0...  http://images.amazon.com/images/P/0393045218.0...